HOLLOW_AWS_REGION=us-east-1
HOLLOW_AWS_BUCKET=<your-s3-bucket>
HOLLOW_AWS_DYNAMODB_TABLE=<your-dynamodb-table>
AWS_ACCESS_KEY_ID=<your-iam-user-access-key>
AWS_SECRET_ACCESS_KEY=<your-iam-user-secret-key>
